<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM2ndIHGXkG6zRtZKFcYeykdt0iwLL70w</string>
	<key>GCM_SENDER_ID</key>
	<string>11704534300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brezzeLearnTest</string>
	<key>PROJECT_ID</key>
	<string>chatbox-55db8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbox-55db8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11704534300:ios:b06cf17dd408f3bff026d9</string>
</dict>
</plist>